.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/oort
src/ontology/oort/*
src/ontology/oort_test
src/ontology/oort_test/*
src/ontology/tmp
src/ontology/auto_generated_def*
src/ontology/tmp/*
src/ontology/fbcv.owl
src/ontology/fbcv.obo
src/ontology/fbcv.json
src/ontology/fbcv-base.*
src/ontology/fbcv-basic.*
src/ontology/fbcv-non-classified.*
src/ontology/fbcv-full.*
src/ontology/fbcv-simple.*
src/ontology/fbcv-simple-non-classified.*
src/ontology/imports/*_combined.txt
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
fbcv-edit-release.owl
src/ontology/fbcv-flybase.obo
src/ontology/fbcv-flybase.owl
src/ontology/merged-fbcv-edit-release.owl
src/ontology/merged-fbcv-edit.obo
src/ontology/tmp
src/ontology/flybase_qc.owl
src/ontology/obo_qc_fbcv.obo
src/ontology/obo_qc_fbcv.owl
