.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/fbcv.owl
src/ontology/fbcv.obo
src/ontology/fbcv.json
src/ontology/fbcv-base.*
src/ontology/fbcv-basic.*
src/ontology/fbcv-full.*
src/ontology/fbcv-simple.*
src/ontology/fbcv-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl